@import "../../common/styles/color.scss";

.cards-field {
    width: 100%;

    > *:not(:first-child) {
        margin-top: 50px;
    }
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    justify-content: space-around;
}
