.card-transparent-whith-border {
  display: flex;
  width: 300px;
  height: 168px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #000;
  background: #DEF6E9;
}