
@import "../../common/styles/color.scss";

.modal-opacity-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: black;
    opacity: 0.5;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.modal-container {
    min-width: 500px;
    min-height: 350px;
    border-radius: 15px;
    background-color: $light-grey;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-title {
    text-align: center;
}