@import "./common/styles/color.scss";

@mixin primary {
    min-height: 100vh;    

    background-color: #dee7c4;

    flex: 1;
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main-container {
        min-height: 100%;
        padding: 10px 0 20px 0;

        flex-grow: 1;
    }
}
 
.theme-dark {
    @include primary();
    background: $grey;
}

.theme-dark-green {
    @include primary();
    background: linear-gradient(135deg, $dark-green, 15%, $dark-dark-green);
}