@import "./common/styles/color.scss";

@mixin primary {
    padding: 10px;
    min-height: 100%;
    //min-height: 100vh;
    

    /*
    display: flex;
    flex-direction: column;
    */
    
    background-color: #dee7c4;

    //flex: 1 0 auto;
    flex: 1;
}

.main-wrapper {
    margin-top: 20px;
}

.wrapper {
}
 
.theme-dark {
    @include primary();
    background: $grey;
}

.theme-dark-green {
    @include primary();
    background: linear-gradient(135deg, $dark-green, 15%, $dark-dark-green);
}