@import "./common/styles/color.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    font-family: Arial; font-weight: normal; color: #FFFFFF;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }