.cards-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards-page-body {
        width: 700px;
        height: 550px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}