@import "../../../common/styles/color.scss";

.registration-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .registration-form {
        .registration-button-wrapper {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

// for small monitors
@media (max-width: 1224px) {
    .registration-wrapper {
        margin-top: 20px;

        .registration-form {
            .registration-button-wrapper {
                margin-top: 8px;
            }
        }
    }
}