.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dee7c4;
    padding-top: 200px;
    color: red;

    display: flex;
    flex-direction: column;
    align-items: center;
}