.person-data-form {
  border: 1 px solid salmon;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  .person-data-form-common {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .person-data-form-common-label {
      width: fit-content;
      border-bottom: 1px solid white;
    }
  }

  .person-data-form-button {
    margin-top: 95px;
  }
}