@import "../../../common/styles/color.scss";



.card {
    border-radius: 10px;
    
    width: 35vw;
    //height: 50%;
    height: 20vw;

    padding: 20px 40px;

    > div:first-child {
      font-size: 20px;
    }

    * {
      margin-top: 20px;
    }
}

.picture {
  background: no-repeat center/80% url("../../../img/backgrounds/beautiful_picture_theme.png");
}

.theme-dark {
  .card {
    background-color: $light-grey;
  }
}

.theme-dark-green {
    .card {
      background-color: $light-grey;
      box-shadow: 10px 5px 13px $shadow,  0px 0px 40px -7px $dark-dark-green inset;
    }
}