@import '../../../common/styles/color.scss';

.card {
    margin-top: 70px;
    width: 650px;
    height: 370px;
    border-radius: 10px;

    background-color: $btn-green;
    padding: 10px;

    display: flex;
    flex-direction: column;
}