.input-hint {
  // position: absolute;
  width: 350px;
  height: 45px;
  align-self: flex-end;
  // margin-right: -355px;

  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
  white-space: pre-line;
  
}