.user-settings-page-body-nav {
  width: 100%;

  .user-settings-page-body-nav-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px; //there is no gap support yet for React Native
  }
}