.user-settings-page-body-nav {
  border: 1px solid white;
  width: 100%;
  

  .user-settings-page-body-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px; //there is no gap support yet for React Native
  }
}