@import "../../common/styles/color.scss";

.link-button{
    background-color: transparent;
    background-color: transparent;

    padding: 0 0 0 0;
    color: $btn-green;
    white-space: nowrap;
}

.btn {
    min-height: min-content;
    min-width: min-content;
    border-radius: 10px;
    background-color: $light-light-green;
    cursor: pointer;

    padding: 8.5px 15px;
    color: $btn-green;
    white-space: nowrap;
    
    border: none;
}

.big-button {
    padding: 30px 50px;
}

.link {
    max-height: min-content;
    max-width: min-content;
    cursor: pointer;
    color: $white;
    white-space: nowrap;
    background-color: transparent;
    background-color: transparent;
    border: none;
}

.theme-dark {
    .btn {
        border: 1px solid yellow;
        background: $light-light-green;
        box-shadow: 10px 5px 13px $shadow,  0px 0px 50px -7px $dark-dark-green inset;
    }
}

.theme-dark-green {
    .btn {
        border: 1px solid yellow;
        background: $light-light-green;
        box-shadow: 10px 5px 13px $shadow,  0px 0px 50px -7px $dark-dark-green inset;
    }
    
}


.btn:hover, .btn:focus {
    color: $light-light-green;
    transform: translateY(-2px);
    transition: 0.25s;
  }
