@import "../../common/styles/color.scss";

.link-button {
  background-color: transparent;

  padding: 0 0 0 0;
  color: $btn-green;
  white-space: nowrap;
}

.btn {
  border-radius: 10px;
  background-color: $light-light-green;
  cursor: pointer;

  padding: 8.5px 15px;
  color: $btn-green;
  white-space: nowrap;

  border: none;
}

.big-button {
  padding: 30px 50px;
}

.link {
  max-height: min-content;
  max-width: min-content;
  cursor: pointer;
  color: $white;
  white-space: nowrap;
  background-color: transparent;
  background-color: transparent;
  border: none;
}

.btn:hover,
.btn:focus {
  transform: translateY(-2px);
  transition: 0.25s;
}

.icon-button {
  background: transparent;
  border: none;
}