//$white: #FFFFFF;
$grey: #1a1a1a;
//$light-grey: #282828;
$silver: #C7C7C7;

$white: #eafaf1;
$light-grey: #20201c;




$white-green: #eafaf1;
$light-light-green: #2ebd3c;
$light-green: #89b788;
$dark-green: #326b38;
$dark-dark-green: #100f15;
//$grey: #282c34;
$dark-grey: #17161b;
$shadow: #030d0c;