//$white: #FFFFFF;
$grey: #1a1a1a;
//$light-grey: #282828;
$silver: #C7C7C7;

$white: #eafaf1;
$light-grey: #20201c;

$warn: #fac8c8;




$white-green: #eafaf1;
$light-light-green: #52AA7A;
$light-green: #89b788;
$dark-green: #263D44;
$dark-dark-green: #1E1E1E;
//$grey: #282c34;
$dark-grey: #17161b;
$shadow: #030d0c;

$btn-green: #DEF6E9;