.header-1 {
  font-family: 'Nirmala-UI', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
}

.big-text {
  font-family: 'Inter', sans-serif;
  font-size: 96px;
  font-weight: 500;
  line-height: 116px;
  letter-spacing: 0em;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}

.medium-small-text {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

.small-small-text {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
}

.h2-promo {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: 0em;
}

.middle-promo {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
}

.h5-promo {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
}

.btn-link-font {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}

.btn-link-font-big {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}