@import "../../common/styles/color.scss";

.footer {
  width: 1440px;
  padding: 0 50px;
  height: 150px;
  width: 100%;

  background-color: transparent;

  // display: flex;
  // flex-direction: column;
  // align-items: center;

  border: 2px solid red;

  .footer-nav {
    border: 1px solid green;
    // width: 100%;
    height: 100px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
    }

    // li:first-child {
    //   justify-content: flex-start;
    // }

    // li:last-child {
    //   justify-content: flex-end;
    // }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $silver;
  }
}