.whith-eye-password-button {
  // box-sizing: border-box;
  // border: 2px solid yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .whith-eye-password-button-button {
    // margin-left: -25px;
    margin-left: -25px;
    padding-right: 5px;
  }
}