@import '../../../common/styles/color.scss';

.dropdown_wrapper-transition {
  height: 0px;
  width: 0px;
  transform: rotate(90deg);

  .dropdown-btn-transition {
    transform: rotate(-90deg);
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
    margin-right: 50px !important;
    position: relative;
    z-index: 1;
    background-color: $btn-green;
    border-color: $btn-green;
    border-style: none;
  }

  .btn_group-transition {
    margin-top: -50px;
    border-radius: 25px;

    align-self: end;
    justify-self: end;

    display: flex;
    // flex-direction: row-reverse;
    


    .reverse-rotation {
      width: 188px;
      // height: 100%
      height: 100%;
      // width: 100%;
      // padding-top: 20px;
      // border: 1px solid red;
      transform: rotate(-90deg);

      .username {
        // border: 1px solid red;
        padding: 8px 0;
        width: calc(100% - 50px);
        // padding: auto;
        display: flex;
        justify-content: center;
        // align-items: center;
      }
    }

    // в случае использования списка
    .list {
      transform: rotate(-90deg);
      padding-top: 20px;

      li {
        margin-bottom: 1em; /* Расстояние снизу */
       }
    }
  }
}

.alert {
  opacity: 0;
}

.alert-enter {
  opacity: 0;
}

.alert-enter * {
  opacity: 0;
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  // transition: opacity 300ms, transform 300ms;
  animation: show-loader 0.2s forwards;
}


.alert-enter-done {
  border-radius: 25px;
  background-color: $btn-green;
  
  width: 219px; // reverse
  height: 188px; // reverse
}

.alert-enter-done * {
  animation: appearing .2s forwards;
}

.alert-exit {
  opacity: 0;
}

.alert-exit * {
  animation: disappearing .2s forwards;
}

.alert-exit-active {
  opacity: 1;
  animation: show-loader 0.2s reverse;
}

.alert-exit-done {
  opacity: 0;
}

@keyframes show-loader {
  0%{
    width: 50px;
    height: 50px;
  }
  50%{
  }
  100%{
    width: 219px; // reverse
    height: 188px; // reverse
    background-color: $btn-green;
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

@keyframes disappearing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}