@import "../../common/styles/color.scss";

.collection-card {
  width: 400px;
  height: 227px;
  border-radius: 10px;
  background-color: $btn-green;

  display: flex;
  justify-content: center;
  align-items: center;

  .collection-card-title {
    color: black;
  }
}