@import "../../common/styles/color.scss";

.collection-card {
  width: 400px;
  height: 227px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  .collection-card-title {
    color: black;
  }
}

.light-card-bg {
  background-color: $btn-green;
}

.dark-card-bg {
  background-color: $light-light-green;
}