.button-list {
    list-style:none;
    margin: 0;
    padding: 0;

    li {
      margin-top: 10px;
    }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}


.bordered {
  border: 3px solid yellow;
}