.collection-page-group {
  width: 100%;

  .collection-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .collection-card-wrapper {
      margin-top: 39px;
    }
  }
}