@import "../../common/styles/color.scss";

.InputBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  font-size: 14px;

  p {
    margin-top: 10px;
  }

  .warn {
    background-color: $warn;
  }
}

// for small monitors
@media (max-width: 1224px) {

  .InputBox {
    margin-top: 8px;
  }
}