@import "../../common/styles/color.scss";

.inputBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  font-size: 14px;

  .colletion-name-label {
    // border: 1px solid blue;
    margin-top: 10px;
  }

  .form-input {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    width: 341px;
    padding: 9.5px 241px 13.5px 11px;
    align-items: center;

    border-radius: 7px;
    border: 1px solid #000;
    background: #DEF6E9;
  }

  .colletion-name-input {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    width: 341px;
    padding: 9.5px 241px 13.5px 11px;
    align-items: center;

    border-radius: 7px;
    border: 1px solid #000;
    background: #DEF6E9;
  }
  
  .inputBox-header {
    display: flex;
    justify-content: space-between;
  }

  .input-hint {
    position: absolute;
    width: 350px;
    height: 45px;
    align-self: flex-end;
    margin-right: -355px;

    border: 1px solid #fff;
    border-radius: 10px;

    padding: 5px;

    white-space: pre-line;
  }

  p {
    margin-top: 10px;
  }

  .warn {
    background-color: $warn;
  }
}

.search-input {
  margin-left: 50px;
  width: 280px;
  height: 40px;
  border-radius: 7px;

  background-color: $btn-green;

  padding: 10px;
  display: inline-flex;
  align-items: center;

  .search-input-field {
    margin-left: 10px;
    width: 300px;
    border: 0;
    background: transparent;
  }

  .search-input-field:focus {
    outline: none;
  }
}

// for small monitors
@media (max-width: 1224px) {

  .inputBox {
    margin-top: 8px;
  }
}